<activity-assignment *ngIf="project">
    <h2>Activity "{{getActivity()?.name}}" ({{project.name}})
        <small>Assign metrics</small>
    </h2>


    <div class="flex-parent">

        <!-- List of assigned metrics -->
        <div class="half-width">
            <div>
                <h3>Metrics currently assigned</h3>
                <ul class="list">
                    <li *ngFor="let metric of project.metrics; let i=index">
                        <span> {{metric.name}}</span>
                        <!-- Unassign-->
                        <span class="align-right">
                        <button md-mini-fab class="material-override" (click)="unAssign(metric, i)">
                            <md-icon class="md-24">arrow_forward</md-icon>
                        </button>
                            </span>
                    </li>
                </ul>
            </div>


        </div>

        <div class="divider"></div>

        <!-- List of metrics that can be assigned-->
        <div class="half-width">
            <div>
                <h3>Metrics available</h3>
                <ul class="list">
                    <!--<li *ngFor="let metric of metrics | filterMetrics:project.metrics">-->
                    <li *ngFor="let metric of metrics | filterMetrics:project.metrics">
                        <!-- Assign-->
                        <button md-mini-fab class="material-override" (click)="assign(metric)">
                            <md-icon class="md-24">arrow_back</md-icon>
                        </button>
                        <span>{{metric.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Actions -->
    <md-card-actions align="end">
        <button md-raised-button class="material-override info" (click)="goBack()">Go back</button>
        <button md-raised-button class="material-override" (click)="save()">Save</button>
        <button md-raised-button class="material-override warning" (click)="cancel()">Cancel/ Revert</button>
    </md-card-actions>


</activity-assignment>