<course-overview>
    <h2>Manage courses</h2>

    <!-- Add course -->

    <!-- Button to display/ hide form-->
    <button *ngIf="!showForm" md-mini-fab class="material-override" (click)="addCourse()">
        <md-icon>add</md-icon>
    </button>
    <button *ngIf="showForm" md-mini-fab class="material-override" (click)="showForm=false">
        <md-icon>remove</md-icon>
    </button>

    <!--Form-->
    <form class="form form-small" *ngIf="showForm" [formGroup]="courseForm" (ngSubmit)="submitForm()">
        <md-card>
            <md-card-title *ngIf="!selectedCourse._id">Add a new course</md-card-title>
            <md-card-title *ngIf="selectedCourse._id">Edit course</md-card-title>
            <md-card-content>
                <div>
                    <md-input class="input-full-width" placeholder="Name" formControlName="name"></md-input>
                </div>
                <div>
                    <textarea class="input-full-width" placeholder="Description" formControlName="description"></textarea>
                </div>
            </md-card-content>

            <!-- Validity messages-->
            <div>
                <div class="form-errors">
                    <div *ngIf="(!courseForm.controls.name.untouched && courseForm.controls.name.errors?.required)">
                        Required fields are: name
                    </div>
                </div>
            </div>


            <md-card-actions align="end">
                <button md-raised-button class="material-override" type="submit">Submit</button>
                <button md-raised-button class="material-override warning" (click)="showForm=false">Cancel</button>
            </md-card-actions>
        </md-card>
    </form>


    <!--List-->
    <div *ngIf="!showForm">
        <h3>List of courses</h3>
        <ul class="list divider">
            <li *ngFor="let course of courses; let i=index">
                <h3> {{course.name}}</h3>
                <p>Description: <span *ngIf="course.description">{{course.description}}</span><span *ngIf="!course.description">Not set</span></p>
                <div>
                    <button md-raised-button class="material-override" (click)="editCourse(course)">
                        <md-icon class="center">edit</md-icon>
                        <span>Edit</span>
                    </button>
                    <button md-raised-button class="material-override" (click)="deleteCourse(course, i)">
                        <md-icon class="center">delete</md-icon>
                        <span>Delete</span>
                    </button>
                    <button  md-raised-button class="material-override" (click)="editExams(course)">
                        <md-icon class="center">school</md-icon>
                        <span>Exams</span>
                    </button>
                    <button  md-raised-button class="material-override" (click)="assignStudents(course)">
                        <md-icon class="center">local_library</md-icon>
                        <span>Assign students</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</course-overview>