<district>
    <h2>Manage districts</h2>

    <!-- Add district -->

    <!-- Button to display/ hide form-->
    <button *ngIf="!showForm" md-mini-fab class="material-override" (click)="addDistrict()">
        <md-icon>add</md-icon>
    </button>
    <button *ngIf="showForm" md-mini-fab class="material-override" (click)="showForm=false">
        <md-icon>remove</md-icon>
    </button>


    <!--Form-->
    <form class="form form-small" *ngIf="showForm" [formGroup]="districtForm" (ngSubmit)="submitForm()">
        <md-card>
            <md-card-title *ngIf="!selectedDistrict._id">Add a new district</md-card-title>
            <md-card-title *ngIf="selectedDistrict._id">Edit district</md-card-title>
            <md-card-content>
                <div>
                    <md-input class="input-half-width" placeholder="Name" formControlName="name"></md-input>
                </div>
            </md-card-content>

            <md-card-actions align="end">
                <button md-raised-button class="material-override" type="submit">Submit</button>
                <button md-raised-button class="material-override warning" (click)="showForm=false">Cancel</button>
            </md-card-actions>
        </md-card>
    </form>


    <!--List-->
    <div *ngIf="!showForm">
        <h3>List of districts</h3>
        <ul class="list divider">
            <li *ngFor="let district of districts; let i=index">
                <h3> {{district.name}}</h3>
                <div>
                    <button md-raised-button class="material-override" (click)="editDistrict(district)">
                        <md-icon class="edit center">edit</md-icon>
                        <span>Edit</span>
                    </button>
                    <button md-raised-button class="material-override" (click)="deleteDistrict(district, i)">
                        <md-icon class="delete center">delete</md-icon>
                        <span>Delete</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</district>