<project-overview>
    <h2>Manage projects</h2>

    <!-- Add project -->

    <!-- Button to display/ hide form-->
    <button *ngIf="!showForm" md-mini-fab class="material-override" (click)="addProject()">
        <md-icon>add</md-icon>
    </button>
    <button *ngIf="showForm" md-mini-fab class="material-override" (click)="showForm=false">
        <md-icon>remove</md-icon>
    </button>

    <!--Form-->
    <form class="form form-small" *ngIf="showForm" [formGroup]="projectForm" (ngSubmit)="submitForm()">
        <md-card>
            <md-card-title *ngIf="!selectedProject._id">Add a new project</md-card-title>
            <md-card-title *ngIf="selectedProject._id">Edit project</md-card-title>
            <md-card-content>
                <div>
                    <md-input class="input-full-width" placeholder="Name" formControlName="name"></md-input>
                </div>
                <div>
                    <textarea class="input-full-width" placeholder="Description" formControlName="description"></textarea>
                </div>
            </md-card-content>

            <!-- Validity messages-->
            <div>
                <div class="form-errors">
                    <div *ngIf="(!projectForm.controls.name.untouched && projectForm.controls.name.errors?.required)">
                        Required fields are: name
                    </div>
                </div>
            </div>


            <md-card-actions align="end">
                <button md-raised-button class="material-override" type="submit">Submit</button>
                <button md-raised-button class="material-override warning" (click)="showForm=false">Cancel</button>
            </md-card-actions>
        </md-card>
    </form>


    <!--List-->
    <div *ngIf="!showForm">
        <h3>List of projects</h3>
        <ul class="list divider">
            <li *ngFor="let project of projects; let i=index">
                <h3> {{project.name}}</h3>
                <p>Description: <span *ngIf="project.description">{{project.description}}</span><span *ngIf="!project.description">Not set</span></p>
                <div>
                    <button md-raised-button class="material-override" (click)="editProject(project)">
                        <md-icon class="center">edit</md-icon>
                        <span>Edit</span>
                    </button>
                    <button md-raised-button class="material-override" (click)="deleteProject(project, i)">
                        <md-icon class="center">delete</md-icon>
                        <span>Delete</span>
                    </button>
                    <button  md-raised-button class="material-override" (click)="editActivitys(project)">
                        <md-icon class="center">school</md-icon>
                        <span>Activitys</span>
                    </button>
                    <button  md-raised-button class="material-override" (click)="assignMetrics(project)">
                        <md-icon class="center">local_library</md-icon>
                        <span>Assign metrics</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</project-overview>