<md-sidenav-layout fullscreen class="app-container">

  <!-- Menu -->
  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <a [routerLink]="[item.link]" md-list-item *ngFor="let item of menu | groupFilter">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
        <span *ngIf="item.description" md-line class="secondary">{{item.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <!--Toolbar-->
  <div class="header">
    <div class="header-img"></div>
    <button md-button (click)="sidenav.toggle()">
      <md-icon class="center">menu</md-icon  >
    </button>
    <a [routerLink]="''"><span class="logo"></span></a>
  </div>

  <!--Content-->

<!-- Display alerts-->
  <alert *ngFor="let alertMessage of alertMessages;let i = index" [type]="alertMessage.type" dismissible="true" (close)="closeAlert(i)" dismissOnTimeout="{{alertMessage.dismissOnTimeout}}">
    {{ alertMessage?.message }}
  </alert>


    <div class="page">
  <router-outlet></router-outlet>
    </div>

</md-sidenav-layout>