<student>
    <h2>Manage students</h2>

    <!-- Add student -->

    <!-- Button to display/ hide form-->
    <button *ngIf="!showForm" md-mini-fab class="material-override" (click)="addStudent()">
        <md-icon>add</md-icon>
    </button>
    <button *ngIf="showForm" md-mini-fab class="material-override" (click)="showForm=false">
        <md-icon>remove</md-icon>
    </button>


    <!--Form-->
    <form class="form form-small" *ngIf="showForm" [formGroup]="studentForm" (ngSubmit)="submitForm()">
        <md-card>
            <md-card-title *ngIf="!selectedStudent._id">Add a new student</md-card-title>
            <md-card-title *ngIf="selectedStudent._id">Edit student</md-card-title>
            <md-card-content>
                <div>
                    <md-input class="input-half-width" placeholder="First Name" formControlName="firstName"></md-input>
                    <md-input class="input-half-width" placeholder="Last Name" formControlName="lastName"></md-input>
                </div>
                <div>
                    <md-input class="input-full-width" formControlName="email" placeholder="E-Mail"
                              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <md-hint align="end">Optional</md-hint>
                    </md-input>
                    <md-input class="input-half-width" type="date" formControlName="birthday">
                        <md-hint align="end">Date of birth: optional</md-hint>
                    </md-input>
                </div>
            </md-card-content>

            <!-- Validity messages-->
            <div>
                <!--Email-->
                <div class="form-errors">
                    <div *ngIf="(!studentForm.controls.firstName.untouched && studentForm.controls.firstName.errors && studentForm.controls.firstName.errors.required) || (!studentForm.controls.lastName.untouched && studentForm.controls.lastName.errors && studentForm.controls.lastName.errors.required)">
                        Required fields are: first name, last name
                    </div>
                    <div *ngIf="!studentForm.controls.email.untouched && studentForm.controls.email.errors && studentForm.controls.email.errors.pattern">
                        Email is in invalid format
                    </div>
                </div>
            </div>


            <md-card-actions align="end">
                <button md-raised-button class="material-override" type="submit">Submit</button>
                <button md-raised-button class="material-override warning" (click)="showForm=false">Cancel</button>
            </md-card-actions>
        </md-card>
    </form>


    <!--List-->
    <div *ngIf="!showForm">
        <h3>List of students</h3>
        <ul class="list divider">
            <li *ngFor="let student of students; let i=index">
                <h3> {{student.firstName}} {{student.lastName | uppercase}} </h3>
                test {{student.birthday}}
                <p>Birthday: <span *ngIf="student.birthday">{{student.birthday | stringToDate | date}}</span><span *ngIf="!student.birthday">Not set</span>
                </p>
                <p>Email: <span *ngIf="student.email"><a
                        href="mailto:{{student.email}}">{{student.email}}</a></span><span
                        *ngIf="!student.email">Not set</span></p>
                <div>
                    <button md-raised-button class="material-override" (click)="editStudent(student)">
                        <md-icon class="edit center">edit</md-icon>
                        <span>Edit</span>
                    </button>
                    <button md-raised-button class="material-override" (click)="deleteStudent(student, i)">
                        <md-icon class="delete center">delete</md-icon>
                        <span>Delete</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</student>