<login>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <!--<input type="text" formControlName="username" placeholder="Username">-->
        <!--<input type="password" formControlName="password" placeholder="Your password">-->
        <div>
            <md-input placeholder="Username" formControlName="username"></md-input>
        </div>

        <div>
            <md-input placeholder="Password" formControlName="password">
            </md-input>
        </div>
        <div>
            <button md-raised-button type="submit">Submit</button>
        </div>
    </form>

</login>